<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <meta name="title" content="<%= data.User.name %>'s Anistats">
    <meta name="description" content="Generate your statistics for Anilist">
    <meta name="keywords" content="anilist, anime, stats, statistics, myanimelist, <%= data.User.name %>">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

</head>


<body>
<div style="text-align: center;">
    <h1><%= title %></h1>
    <div class="container mt-5">
        <div class="user-card card">
            <div class="card-header stats-header"
                 style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('<%= data.User.bannerImage %>')">
                <div class="stats-header-container col-md-12">

                    <h3 class="text-light"><a
                                href="https://anilist.co/user/<%= data.User.name %>"><u><b><%= data.User.name %></b></u></a>'s
                        anime stats <span class="text-secondary ID"><%= data.User.id %></span></h3>
                    <h6 class="text-secondary ID"></h6>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
</body>

</html>
