<html>

<head>
    <title><%= title %></title>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Meta -->
    <meta name="title" content="<%= data.User.name %>'s Anistats">
    <meta name="description" content="Generate your statistics for Anilist">
    <meta name="keywords" content="anilist, anime, stats, statistics, myanimelist, <%= data.User.name %>">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

</head>


<body>
<div style="text-align: center;">
    <h1><%= title %></h1>
    <div class="container mt-5">
        <div class="user-card card">
            <div class="card-header stats-header"
                 style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('<%= data.User.bannerImage %>')">
                <div class="stats-header-container col-md-12">

                    <h3 class="text-light"><a
                                href="https://anilist.co/user/<%= data.User.name %>"><u><b><%= data.User.name %></b></u></a>'s
                        anime stats <span class="text-secondary ID"
                                          title="<%= data.User.name %>'s Anilist ID"><%= data.User.id %></span></h3>
                    <h6 class="text-secondary ID"></h6>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= data.User.statistics.anime.count %></h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Anime watched</h6>
                                        <p class="card-text">
                                            This includes dropped and ongoing anime.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= data.User.statistics.anime.episodesWatched %></h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Episodes watched</h6>
                                        <p class="card-text">
                                            This is on average
                                            <b><%= ((data.User.statistics.anime.episodesWatched / data.User.statistics.anime.count) * 100).toFixed(2) %></b>
                                            episodes per anime.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%=
                                            data.User.statistics.anime.minutesWatched > 75 ? (data.User.statistics.anime.minutesWatched / 60).toFixed(2) : data.User.statistics.anime.minutesWatched
                                            %>
                                        </h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            <%=
                                            data.User.statistics.anime.minutesWatched > 75 ? "Hours" : "Minutes"
                                            %>
                                            watched
                                        </h6>
                                        <p class="card-text">
                                            On average, you spent
                                            <b><%= (((data.User.statistics.anime.minutesWatched / 60) / data.User.statistics.anime.count) * 100).toFixed(2) %></b>
                                            hours per title.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= Math.round((data.User.statistics.anime.meanScore * 10)) / 100 %>
                                            / 10</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Mean score</h6>
                                        <p class="card-text">
                                            <%
                                            const avg = 65.5;
                                            let delta = data.User.statistics.anime.meanScore - avg;
                                            delta = Math.round(delta * 100) / 1000;
                                            %>
                                            You rate your anime <b><%= delta %></b> <%= delta > 0 ? "above" : "below" %>
                                            the average.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
